<% include ../common/header %>

<section>
    <div class="row">
        <div class="col-md-12">

            <h3 class="page-title">About Us</h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/"> Home </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="/about"> About Us </a>
                </li>
            </ul>

        </div>
    </div>
       
</section>

<% include ../common/footer %>