<% include ../common/header %>

<section>

    <div class="row">
        <div class="col-md-12">

            <h3 class="page-title">
                Contact Us <small>how to contact TinyNews</small>
            </h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/"> Home </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="/contact"> Contact Us </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <div class="space20"></div>
                    <h3 class="form-section">Contacts</h3>
                    <p>
                        Lorem ipsum dolor sit amet, Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo consequat consectetuer adipiscing elit.
                    </p>
                    <div class="well">
                        <h4>Address</h4>
                        <address>
                            <strong>Loop, Inc.</strong><br>
                            795 Park Ave, Suite 120<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (234) 145-1810 </address>
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:#">first.last@email.com </a>
                        </address>
                        <ul class="social-icons margin-bottom-10">
                            <li>
                                <a class="facebook" data-original-title="facebook" href="#"></a>
                            </li>
                            <li>
                                <a class="github" data-original-title="github" href="#"></a>
                            </li>
                            <li>
                                <a class="googleplus" data-original-title="Goole Plus" href="#"></a>
                            </li>
                            <li>
                                <a class="linkedin" data-original-title="linkedin" href="#"></a>
                            </li>
                            <li>
                                <a class="rss" data-original-title="rss" href="#"></a>
                            </li>
                            <li>
                                <a class="skype" data-original-title="skype" href="#"></a>
                            </li>
                            <li>
                                <a class="twitter" data-original-title="twitter" href="#"></a>
                            </li>
                            <li>
                                <a class="youtube" data-original-title="youtube" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="space20"></div>

                    <form action="#">
                        <h3 class="form-section">Feedback</h3>
                        <p>
                            Lorem ipsum dolor sit amet, Ut wisi enim ad minim veniam, quis nostrud exerci. Ut wisi
                            enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                            aliquip ex ea commodo consequat consectetuer
                        </p>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="fa fa-check"></i>
                                <input type="text" placeholder="Subject" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="fa fa-user"></i>
                                <input type="text" placeholder="Name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="fa fa-envelope"></i>
                                <input type="password" placeholder="Email" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Feedback" rows="3=6" class="form-control"></textarea>
                        </div>
                        <button class="btn green" type="submit">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>

<% include ../common/footer %>