<% include ../common/header %>

<section>
    <div class="row">

        <div class="col-md-12">
                <h1>Terms of Service</h1>
        </div>

    </div>
</section>

<% include ../common/footer %>