<% include ../common/header %>

<link href="/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />

<div class="logo">
    <h2>TinyNews</h2>
</div>

<div class="login">
    <div class="content container" ng-controller="LoginController">

        <div class="row">
            <div class="col-md-12">
                <h1>You're good to go!</h1>
                <h4>Thanks for confirming your email address.</h4>
            </div>
            <div class="col-md-12">
                <br />
                <a href="/login" class="btn btn-primary" id="btn_Continue_to_Login">Continue to Login</a>
            </div>
        </div>

        &nbsp;

    </div>
</div>

<% include ../common/footer %>