<% include ../common/header %>

<link href="/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />

<div class="logo">
    <h2>TinyNews</h2>
</div>

<div class="login" ng-controller="PasswordRecoveryController">
    <section class="content container">

        <form name="recovery" class="forget-form" action="/recovery" method="post" novalidate="novalidate" style="display: block;">
            <h3>Forget Your Password ?</h3>
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <div class="form-group" ng-class="{ 'has-success': recovery.email.$valid && recovery.email.$dirty, 'has-error': recovery.email.$invalid && recovery.email.$dirty }">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" ng-model="data.email" ng-minlength="6" maxlength="128" required>
                </div>
            </div>
            <div class="form-actions">
                <button ng-click="back()" type="button" id="back-btn" class="btn btn-default pull-left">
                    <i class="m-icon-swapleft"></i> Cancel 
                </button>
                <button type="submit" id="btn_ProcessRecovery" class="btn green pull-right" ng-disabled="recovery.$invalid"> Submit <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>

    </section>
</div>

<% include ../common/footer %>