<% include ../common/header %>

<link href="/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />

<div class="logo">
    <h2>TinyNews</h2>
</div>

<div class="login" ng-controller="PasswordResetController">
    <div class="content container">

        <form name="pwdform" action="/reset" role="form" method="post" novalidate="novalidate" ng-submit="submit()" style="display: block;">
            <h3>Password Reset</h3>
            <p>
                Enter a new password for your account below.
            </p>
            <div class="form-group" ng-class="{ 'has-success': pwdform.password.$valid && pwdform.password.$dirty, 'has-error': pwdform.password.$invalid && pwdform.password.$dirty }">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" ng-minlength="8" maxlength="64" ng-model="data.password" required />
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': pwdform.password2.$valid && pwdform.password2.$dirty && data.password == data.password2, 'has-error': (pwdform.password2.$invalid && pwdform.password2.$dirty) || (data.password != data.password2 && pwdform.password2.$dirty) }">
                <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password Again" name="password2" ng-minlength="8" maxlength="64" ng-model="data.password2" required />
                </div>
            </div>
            <div class="form-actions">
                <input type="hidden" name="key" value="<%= data.key %>" ng-model="data.key" />
                <a href="/login" type="button" id="back-btn" class="btn btn-default"><i class="m-icon-swapleft"></i> Back </a>
                <button type="submit" class="btn green pull-right" ng-disabled="pwdform.$invalid"> Submit <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>

    </div>
</div>

<% include ../common/footer %>