<td>
    <img class="img-rounded" ng-src="{{ journalist.imageUrl || '/images/profile_default_journalist.png' }}" width="40" height="40" alt="" />
</td>
<td>
    <h4 class="media-heading" style="line-height: 35px;">
        <a href="/journalist/{{ journalist.slug }}/#/">
            <span ng-bind="journalist.first_name"></span>
            <span ng-bind="journalist.last_name"></span>
        </a>
    </h4>
</td>
<td>
    <nl-star-rating rating="journalist.rating"></nl-star-rating>
</td>
<td>
    <div style="padding-top: 5px;" ng-if="registered">
        <button ng-if="!following" ng-click="toggle_following()" class="btn btn-xs btn-default follow">follow</button>
        <button ng-if="following" ng-click="toggle_following()" class="btn btn-xs btn-success follow following">following</button>
    </div>
</td>
