<div class="row" id="list_view_journalists" class="table-responsive">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <tr>
                <th width="56"></th>
                <th>Name</th>
                <th width="90">Rating</th>
                <th width="80">Actions</th>
            </tr>
            <tr
                nl-journalist-card
                journalist="journalist"
                ng-repeat="journalist in items"
                template="nl_journalist_card_row.html"
            ></tr>
        </table>
    </div>
</div>